
/* Navigation Bar */
.navbar {
    padding: 3% 7%;
  }
  
  .nav-item {
    padding: 0 10px;
  }
  
  
/* Nav Bar */
#title {
    background-color: #060606;
    color: aliceblue;
}

.container-fluid{
    padding: 0% 10%;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: 700;
}

.navbar{
    padding-bottom: .5rem;
}

.nav-item{
    padding: 0 18px;
}





/* Footer */

footer{     position: absolute;  bottom: 0;
    width: 100%;
    height: 200px;

}
.footcolorcopy{
    background-color: #7d0101;
    color: aliceblue;
    
}
.footcolor{background-color: #060606;
    color: aliceblue;
    
}

a:hover{
    color: #fb0202 !important;
}

footer a{
text-decoration: none;
    color: aliceblue;

}
.positiosecfoot{position: relative; top: 50px;
}

.marginfoot2em{
    padding: 2em;
}

