/* Navigation Bar */
.navbar {
    padding: 3% 7%;
  }
  
  .nav-item {
    padding: 0 10px;
  }
  
body{
  background-color: #fce6e6;
}



.box   { 
  display: flex;
justify-content: center;
text-align: center;
border: none;
}

.textos {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-shadow: -1px 0 1px #444;
  color: #5e0101;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.boxing {
  border: 1px ridge #5e0101;
  background: ##fae3e3;
  height: 400px;
  width: 270px;
  margin: 35px;
  padding: 30px;
  box-shadow: 0px 0px 5px 0px #bc0101;

}
.boxing:hover {
	text-shadow: 1px 1px rgba(0,0,0,.3);  /* Sombra del texto */
	background: #ffcccc;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}

.titulo {
  color: #5e0101;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 17px;

}

.buttom {
  color: black;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 8px;
  padding: 11px;
  text-shadow: -1px 0 1px #444;
}
.detalle {
  color: black;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  text-shadow: -1px 0 1px #444;
}

